<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
	<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
		<listEntry value="1"/>
	</listAttribute>
	<mapAttribute key="org.eclipse.debug.core.environmentVariables">
		<mapEntry key="LD_LIBRARY_PATH" value="/home/pi/rti_connext_dds-6.0.1/lib/armv6vfphLinux3.xgcc4.7.2"/>
	</mapAttribute>
	<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
		<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
		<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
	</listAttribute>
	<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
	<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gpsSubscriber"/>
	<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gps Example"/>
</launchConfiguration>
